# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp

BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 80

Standard: Cpp11
DisableFormat: false

IncludeBlocks: Preserve

AccessModifierOffset: -4  
AlignAfterOpenBracket: Align
AlignTrailingComments: true  
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: true  
AllowShortBlocksOnASingleLine: false  
AllowShortFunctionsOnASingleLine: None  
AllowShortIfStatementsOnASingleLine: false  
AllowShortLoopsOnASingleLine: false  
AlwaysBreakBeforeMultilineStrings: true  
AlwaysBreakTemplateDeclarations: true  
BinPackParameters: true  
BreakBeforeBinaryOperators: false  
BreakBeforeBraces: Attach  
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
CommentPragmas: ''  
ConstructorInitializerAllOnOneLineOrOnePerLine: true  
ConstructorInitializerIndentWidth: 4  
ContinuationIndentWidth: 4  
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false 
FixNamespaceComments: true 
IndentCaseLabels: true  
IndentPPDirectives: None
IndentWrappedFunctionNames: false  
IndentFunctionDeclarationAfterType: false  
MaxEmptyLinesToKeep: 2  
KeepEmptyLinesAtTheStartOfBlocks: false  
NamespaceIndentation: None  
PenaltyBreakBeforeFirstCallParameter: 1  
PenaltyBreakComment: 300  
PenaltyBreakString: 1000  
PenaltyBreakFirstLessLess: 120  
PenaltyExcessCharacter: 1  
PenaltyReturnTypeOnItsOwnLine: 1000  
PointerAlignment: Left  
ReflowComments: true
SpaceBeforeAssignmentOperators: true  
SpaceBeforeParens: ControlStatements  
SpaceInEmptyParentheses: false  
SpacesBeforeTrailingComments: 2
SpacesInAngles: false  
SpacesInCStyleCastParentheses: false  
SpacesInContainerLiterals: true  
SpacesInParentheses: false  
Cpp11BracedListStyle: true  
